* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
:active {
  outline: none;
}

nav,
foother,
heder,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #0a0a0a;
}
.header {
  background-color: #0a0a0a;
  padding: 33px 0 32px;
  color: #d51616;
  font-size: 24px;
  line-height: 29px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}
.phone {
  flex-grow: 1;
  flex-basis: 0;
  text-align: right;
  font-size: 24px;
  line-height: 29px;
}
.menu-item {
  padding-right: 30px;
}
.headline {
  background-color: #f5f5f7;
  text-align: center;
  padding: 70px 0 40px;
}
.title {
  text-transform: uppercase;
  margin-bottom: 0 0 40px;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #490e84;
}
.headline-img {
  margin-bottom: 25px;
}
.headline-btn {
  display: inline-block;
  background: #490e84;
  -webkit-box-shadow: 0 5px 1px rgba(0, 0, 0, 0.5);
  /*box-shadow: 0 6px 40px #490e84;*/
  border-radius: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px 118px;
}
.headline-btn:hover {
  /*box-shadow: 0 6px 40px #ad67f2;*/
  background: #6521ca;
}
.headline-btn:active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
}
.new {
  padding: 90px 0 150px;
}
.new-title,
.color-title {
  margin: 0 0 50px;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #717171;
}
.new-info {
  display: flex;
  align-items: center;
}
.new-text p {
  max-width: 560px;
  margin: 0 0 30px;
  line-height: 18.2px;
  font-size: 14px;
}
.new-text b {
  max-width: 560px;
  font-size: 20px;
  line-height: 26px;
  display: block;
}
.images-new {
  margin-left: 190px;
}
.color {
  padding-bottom: 150px;
}
.color-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.color-item img {
  margin-bottom: 20px;
}
.color-item h3 {
  line-height: 26px;
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 10px;
}
.color-item p {
  margin: 0;
}
.contacts-inner {
  display: flex;
  background-color: #574b63;
  color: #ffffff;
}
.contacts-form {
  width: 100%;
  padding: 140px 78px;
  text-align: center;
}
.contacts-title {
  margin: 0 0 60px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: left;
}
.contacts-input {
  padding: 10px 0;
  border-bottom: #fff solid 1px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  background-color: #574b63;
}
.contacts-input::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  opacity: 0.5;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.contacts-form p {
  opacity: 0.5;
  text-align: center;
  margin: 30px 0;
}
.contacts-form button {
  border-radius: 30px;
  background-color: #ffffff;
  text-transform: uppercase;
  color: #490e84;
  font-weight: 700;
  line-height: 18.2px;
  padding: 16px 81px;
  cursor: pointer;
  /*margin: 0 181px 138px 179px;*/
}
.footer {
  background-color: #0a0a0a;
}
.footer-link {
  flex-basis: 0;
  flex-grow: 1;
}
.footer-inner {
  color: #717171;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
.menu-btn {
  display: none;
}
/*.footer-inner img {
  margin: 0 330px 0 346px;
}*/

@media (max-width: 1200px) {
  .headline-img {
    max-width: 100%;
  }
  .contacts-inner {
    display: block;
  }
  .contacts-form {
    width: auto;
  }
  .contacts-title {
    text-align: center;
  }
  .contacts-img {
    width: 100%;
  }
  .contacts {
    background-color: #574b63;
  }
}
@media (max-width: 1100px) {
  .color-list {
    flex-wrap: wrap;
  }
  .color-item {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 940px) {
  .menu-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    order: 1;
    cursor: pointer;
    position: relative;
    z-index: 50;
  }
  .logo,
  .phone {
    position: relative;
    z-index: 50;
  }
  .btn-line {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 2px;
    transition: 0.3s ease;
  }
  .btn-line:nth-child(1) {
    top: 0;
  }
  .btn-line:nth-child(2) {
    top: 20px;
  }
  .btn-line:nth-child(3) {
    top: 20px;
  }
  .btn-line:nth-child(4) {
    top: 40px;
  }
  .menu-open .btn-line:nth-child(1) {
    transform: scaleX(0);
  }
  .menu-open .btn-line:nth-child(2) {
    transform: rotate(45deg);
  }
  .menu-open .btn-line:nth-child(3) {
    transform: rotate(-45deg);
  }
  .menu-open .btn-line:nth-child(4) {
    transform: scaleX(0);
  }
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-100%);
    transition: 0.3s ease;
  }
  .menu-open .menu {
    transform: translateY(0%);
  }
  .menu-item {
    padding: 50px 0;
    font-size: 56px;
  }
  .images-new {
    display: none;
  }
  .new-text p,
  .new-text b {
    max-width: 100%px;
  }
  .phone {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .headline,
  .new {
    padding: 50px 0;
  }
  .color {
    padding-bottom: 50px;
  }
  .contacts-form {
    padding: 50px 70px;
  }
}
@media (max-width: 640px) {
  .footer-inner {
    padding: 20px 0;
    flex-direction: column;
  }
  .footer-inner .logo {
    margin: 15px 0;
  }
}

@media (max-width: 560px) {
  .title {
    font-size: 34px;
    line-height: 42px;
  }
  .new-title,
  .color-title,
  .contacts-title {
    font-size: 28px;
    line-height: 32px;
  }
  .headline-btn {
    font-size: 18px;
    line-height: 22px;
    padding: 16px 90px;
  }
  .color-item,
  .color-item img {
    width: 100%;
  }
  .contacts-form {
    padding: 50px 30px;
  }
}
@media (max-width: 420px) {
  .nav {
    flex-wrap: wrap;
  }
  .phone {
    flex-basis: auto;
    margin-top: 50px;
    order: 3;
    width: 100%;
  }
  .menu-item {
    font-size: 32px;
  }
}

@media (max-width: 375px) {
  .contacts-form {
    padding: 50px 10px;
  }
}
